USE [master]
GO
/****** Object:  Database [PortfolioDB2025]    Script Date: 04-12-2025 12:22:19 PM ******/
CREATE DATABASE [PortfolioDB2025]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PortfolioDB2025', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PortfolioDB2025.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PortfolioDB2025_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PortfolioDB2025_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PortfolioDB2025].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PortfolioDB2025]
GO
/****** Object:  Table [dbo].[PortfolioBlogsItem]    Script Date: 04-12-2025 12:22:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortfolioBlogsItem](
	[BID] [int] IDENTITY(1,1) NOT NULL,
	[BTitle] [nvarchar](200) NOT NULL,
	[BDescription] [nvarchar](max) NOT NULL,
	[BLink] [nvarchar](300) NULL,
	[BDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PortfolioHomeArticles]    Script Date: 04-12-2025 12:22:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortfolioHomeArticles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ArticleName] [nvarchar](150) NULL,
	[ArticleTitle] [nvarchar](200) NULL,
	[ArticleDescription] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](250) NULL,
	[CreatedAt] [datetime] NULL,
	[LastUpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PortfolioHomeContact]    Script Date: 04-12-2025 12:22:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortfolioHomeContact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[SubmittedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PortfolioHomeEducation]    Script Date: 04-12-2025 12:22:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortfolioHomeEducation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NULL,
	[Institution] [nvarchar](200) NULL,
	[StartYear] [int] NULL,
	[EndYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PortfolioHomeSkillCategory]    Script Date: 04-12-2025 12:22:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortfolioHomeSkillCategory](
	[CID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[IconClass] [nvarchar](100) NULL,
	[DisplayOrder] [int] NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PortfolioHomeSkillItem]    Script Date: 04-12-2025 12:22:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortfolioHomeSkillItem](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[CID] [int] NULL,
	[SkillName] [nvarchar](100) NULL,
	[SkillValue] [int] NULL,
	[IconClass] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PortfolioProjectsItem]    Script Date: 04-12-2025 12:22:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PortfolioProjectsItem](
	[PID] [int] IDENTITY(1,1) NOT NULL,
	[PTitle] [nvarchar](200) NOT NULL,
	[PDescription] [nvarchar](max) NOT NULL,
	[PKeyword1] [nvarchar](100) NULL,
	[PKeyword2] [nvarchar](100) NULL,
	[PKeyword3] [nvarchar](100) NULL,
	[PKeyword4] [nvarchar](100) NULL,
	[PKeyword5] [nvarchar](100) NULL,
	[PLink] [nvarchar](500) NULL,
	[PImagePath] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_PortfolioHomeContact_SubmittedAt]    Script Date: 04-12-2025 12:22:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_PortfolioHomeContact_SubmittedAt] ON [dbo].[PortfolioHomeContact]
(
	[SubmittedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PortfolioProjectsItem_Title]    Script Date: 04-12-2025 12:22:20 PM ******/
CREATE NONCLUSTERED INDEX [IX_PortfolioProjectsItem_Title] ON [dbo].[PortfolioProjectsItem]
(
	[PTitle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PortfolioBlogsItem] ADD  DEFAULT (getdate()) FOR [BDate]
GO
ALTER TABLE [dbo].[PortfolioHomeArticles] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PortfolioHomeArticles] ADD  DEFAULT (getdate()) FOR [LastUpdatedAt]
GO
ALTER TABLE [dbo].[PortfolioHomeContact] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[PortfolioHomeSkillCategory] ADD  DEFAULT ((1)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[PortfolioProjectsItem] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PortfolioHomeSkillItem]  WITH CHECK ADD FOREIGN KEY([CID])
REFERENCES [dbo].[PortfolioHomeSkillCategory] ([CID])
GO
ALTER TABLE [dbo].[PortfolioHomeSkillItem]  WITH CHECK ADD  CONSTRAINT [FK_PortfolioHomeSkillItem_Category] FOREIGN KEY([CID])
REFERENCES [dbo].[PortfolioHomeSkillCategory] ([CID])
GO
ALTER TABLE [dbo].[PortfolioHomeSkillItem] CHECK CONSTRAINT [FK_PortfolioHomeSkillItem_Category]
GO
USE [master]
GO
